body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown div {
    font-size: 2em;
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
    width: 120px;
}

span {
    font-weight: bold;
    display: block;
    font-size: 1.5em;
}
